jobs:
  example-job:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plex
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v5
      - name: Run a script
        run: ./start.sh
