on:
  push:
    branches:
      - '*'
      - '!master'
jobs:
  example-job:
    runs-on: proxy1
    defaults:
      run:
        working-directory: ./plex
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v5
      - name: Run a script
        run: ./start.sh
