on:
  push:
    branches:
      - '*'
      - '!master'
jobs:
  example-job:
    runs-on: [self-hosted, proxy1]
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v5
      - name: Start Traefik
        run: docker compose -f ./traefik/docker-compose.yml up -d
      - name: Start containers
        run: docker compose -f ./plexservices.yml up -d
      - name: Stop All Containers
        run: docker stop $(docker ps -q)
      - name: Remove All Containers
        run: docker rm $(docker ps -q)